body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #fdfdfd;
}

/* navbar */

.navbar {
  border-bottom: 4px solid silver;
}

.nav-link:hover {
  color: white!important;
}

.fa-bars {
  margin-top: 2px;
}

/* container */

.carousel-inner {
  height: 760px;
}

/* carousel */

.carousel-control-prev,
.carousel-control-next {
  color: black;
  bottom: 75%;
  filter: invert(50%);
}

.carousel-inner .carousel-item {
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

/* example container and contents */

.exampleImage {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 9px black;
}

.example p {
  margin-top: 15px;
  color:#666;
  line-height: 1.5;
}

.technologies {
  font-style: italic;
}

.samples {
  font-style: italic;
}

/* media */

@media only screen and (min-width: 767px) {

  /* tablets and desktop */

  .carousel-item {
    padding-top: 155px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    font-size: 72px;
  }
  .example h2 {
    font-size: 34px;
  }

  .example p {
    font-size: 18px;
    width: 700px;
  }
  .exampleImage {
    width: 560px;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {

  /* phones */

  .carousel-item {
    padding-top: 140px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    font-size: 48px;
  }
  .example h2 {
    font-size: 24px;
  }
  .example p {
    font-size: 14px;    
    width: 100%;
  }
  .exampleImage {
    width: 80%;
    height: auto;
  }
}
