body {
  font-family: 'Times New Roman', Times, serif;
  /* background-color: #fdfdfd; */

/* Background pattern from Toptal Subtle Patterns */
  background: url(background.png);
  background-repeat: repeat;
}

.wrapper {
  width: 100%;
  height: 180vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

.portrait {
  position: absolute;
  left: 180px;
  top: 9px;
  width: 30px;
  height: auto;
  border-radius: 10%;
  display: inline-block;
  transition: width .5s;
}

.portrait:hover {
  width: 130px;
}

/* navbar */

.navbar {
  border-bottom: 4px solid silver;
}

.nav-link:hover {
  color: white!important;
}

.fa-bars {
  margin-top: 2px;
}

/* carousel */

.carousel-inner {
  height: 760px;
}

.carousel-control-prev,
.carousel-control-next {
  color: black;
  bottom: 78%;
  filter: invert(50%);
}

.carousel-inner .carousel-item {
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform 1s ease;

  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

.carousel-item {
    margin-top: 115px;
}

.item-background {
  z-index: -1;
  opacity: .7;
  background-color: white;
  position: absolute;
  left: -10%;
  top: -35%;
  width: 120%;
  height: 140%;
}

/* slide / example contents */

.exampleImage {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 9px black;
}

.carousel-item div p {
  color: #666;
  line-height: 1.5;
}

.summary {
  margin-top: 15px;
}

.technologies {
  font-style: italic;
  margin-top: 15px;
}

.samples {
  font-style: italic;
}

@media only screen and (min-width: 1440px) {
  /* x-large screen desktops */

  .wrapper {
	height: 100vh;
  }
  
  .carousel-inner {
    margin-top: 100px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    bottom: 91%;
  }
}

@media only screen and (min-width: 768px) {
  /* tablets and desktop */

  .carousel-inner {
    padding-left: 5%;
    padding-right: 5%;
  }

  .carousel-item h2 {
    font-size: 34px;
  }

  .carousel-item div p {
    font-size: 18px;
    width: 100%;
  }
  .exampleImage {
    width: 560px;
    height: auto;
  }
}

@media only screen and (max-width: 767px) {
  /* phones */

  .carousel-item h2 {
    font-size: 24px;
  }

  .carousel-item div p {
    font-size: 14px;
    width: 100%;
  }

  .exampleImage {
    width: 95%;
    height: auto;
  }
}

/* reset overflows */

/* .container {
  overflow: visible;
}

.carousel {
  overflow: visible;
} */

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  overflow: visible;
}
