body {
  font-family: 'Times New Roman', Times, serif;
  /* background-color: #fdfdfd; */

  /* Background pattern from Toptal Subtle Patterns */
  background: url(background.png);
  background-repeat: repeat;
}

/* this is what prevents the animated text from causing scrollbars to appear,
although there's probably a better way */
.wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Projects modal */

.modal-header-row {
  margin-bottom: 10px;
}

.modal-name {
  font-size: 17px;
  margin-bottom: 3px;
}

.modal-type {
  margin-top: 6px;
  font-size: 17px;
}

.modal-technologies {
  margin-top: 7px;
  font-size: 15px;
}


/* About modal */

.modal-content {
  font-size: 18px;
  background-color: #f9f9f9;
  color: #5a5a5a;
  border: 0px;
  padding-top: 2.5%;
}

.modal-content p {
  padding-left: 4%;
  padding-right: 4%;
}

.modal-body {
  padding-bottom: 1%;
}

.modal-footer {
  border-top: 0px;
  border-bottom: 4px solid silver;
  padding-top: 0px;
  padding-bottom: 3%;
}

.modal-button {
  border-radius: 4px;
  color: #5a5a5a;
  background-color: #f1f1f1;
  margin-right: 5%;
}

.btn:active,
.btn:focus,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* navbar */

.navbar {
  border-bottom: 4px solid silver;
}

.nav-link:hover {
  color: white!important;
}

.fa-bars {
  margin-top: 2px;
}

/* carousel */

/* this is to keep the carousel controls, which are controlled by % from bottom, in the same place */
.carousel-inner {
  height: 760px;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 2;
  color: black;
  bottom: 78%;
  filter: invert(50%);
}

.carousel-inner .carousel-item {
  z-index: 1;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform 1s ease;

  -webkit-transition-delay: .5s;
  transition-delay: .5s;
}

.carousel-item {
    margin-top: 115px;
}

/* overflows so animated text can exit the carousel */
.carousel-inner {
  overflow: visible;
}

.carousel-item {
  overflow: visible;
}

.item-background {
  z-index: -1;
  opacity: .7;
  background-color: white;
  position: absolute;
  left: -10%;
  top: -35%;
  width: 120%;
  height: 140%;
}

/* carousel item / work example contents */
.example-image {
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 9px black;
}

.carousel-item div p {
  color: #666;
  line-height: 1.5;
}

.summary {
  margin-top: 15px;
}

.technologies {
  font-style: italic;
  margin-top: 15px;
}

.samples {
  font-style: italic;
}

@media only screen and (max-width: 767px) {
  /* phones */

  .wrapper {
    height: 730px;
  }

  .carousel-item h2 {
    font-size: 24px;
  }

  .carousel-item div p {
    font-size: 14px;
    width: 100%;
  }

  .example-image {
    width: 100%;
    height: auto;
  }
}

/* 1024x768, 1280x1024, 1280x720, 1366x768, 1440x900 */
@media only screen and (min-width: 768px) and (max-width: 1919px) {
  /* tablets and desktop */

  .carousel-inner {
    padding-left: 5%;
    padding-right: 5%;
  }

  .carousel-item h2 {
    font-size: 34px;
  }

  .carousel-item div p {
    font-size: 18px;
    width: 100%;
  }

  .example-image {
    width: 560px;
    height: auto;
  }
}

/* 1920x1280 */
@media only screen and (min-width: 1920px) {
  /* x-large screen desktops */

  .carousel-inner {
    margin-top: 100px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .carousel-control-prev,
  .carousel-control-next {
    bottom: 91%;
  }

  .carousel-item h2 {
    font-size: 34px;
  }

  .carousel-item div p {
    font-size: 18px;
    width: 100%;
  }

  .example-image {
    width: 560px;
    height: auto;
  }
}

/* because overflow-y was turned off for the wrapper to enable the exploding text effect, I have to manually turn on
the vertical scrollbars in cases where they are needed. for low resolution PC screens under 1440x900 */
@media only screen and (max-height: 899px) and (min-width: 576px) {
  .wrapper {
  	height: 140vh;
  }
}

/* and for landscape phones */
@media only screen and (max-height: 480px) {
  .wrapper {
    height: 250vh;
  }
}

